<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Yhtiöhaku</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='css/style.css') }}" /> {% block head %} {% endblock %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
</html>
