{% extends 'base.html' %} {% block head %} {% endblock %}
<!--body-->
{% block body %}
<div>
<header>
  <h1 id="title">Yrityshaku</h1>
</header>
<container>
  <div id="form">
    <form action="/" method="POST">
     
      <!--
      <label for="resultsFrom"> resultsFrom:</label>
      <input type="text" name="resultsFrom" id="resultsFrom" value="0" />
      -->
    <div class="searchHolder">
      <label for="registeredOffice" class="formLabel">Paikkakunta:</label>
      <input
        type="text"
        name="registeredOffice"
        class="formInput"
        id="registeredOffice"
        placeholder="Helsinki"
      />
    </div>
     <div class="searchHolder">
      <label for="businessLineCode" class="formLabel"> <a class="statLink" href="https://www.stat.fi/fi/luokitukset/toimiala/">Toimialaluokitus</a>:</label>
      <button class="infoBtn" type="button" title="Toimialaluokitukset löytyvät linkistä (tilastokeskus)"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></button>
      <input
        type="text"
        name="businessLineCode"
        class="formInput"
        id="businessLineCode"
        placeholder="68310"
      />
    </div>     
          <div class="searchHolder">
      <label for="companyRegisterationFrom" class="formLabel">Rekisteröity jälkeen:</label>
      <button class="infoBtn" type="button" title="Yritykset jotka ovat rekisteröity tämän päivämäärän jälkeen (YYYY-MM-DD)"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></button>
      <input
        type="text"
        name="companyRegisterationFrom"
        class="formInput"
        id="companyRegisterationFrom"
        placeholder="{{ dates.weekago }}"
      />
    </div>
          <div class="searchHolder">
      <label for="companyRegistrationTo" class="formLabel">Rekisteröity ennen:</label>
      <button class="infoBtn" type="button" title="Yritykset jotka ovat rekisteröity ennen tätä päivämäärää (YYYY-MM-DD)"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></button>

      <input
        type="text"
        name="companyRegistrationTo"
        class="formInput"
        id="companyRegistrationTo"
        placeholder="{{ dates.now }}"
      />
    </div>
          <div class="searchHolder">
       <label for="maxResults" class="formLabel">Max osumat:</label>
       <button class="infoBtn" type="button" title="Haku osumien maksimi määrä (max 100)"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></button>
      <input type="text" name="maxResults" class="formInput" id="maxResults" placeholder="10" />

      <input id="formSubmit" type="submit" value="Hae" />
      
    </div>
    </form>
  </div>
</div>
</container>

<div id="info">
  <h3>Info</h3>
 
  <p>Hae Suomalaisia yrityksiä, paikkakunnan, toimialan sekä rekisteröinti ajan mukaan</p>
  <p>Kaikki materiaali tällä sivulla on julkista tietoa <a href="https://www.prh.fi/fi/kaupparekisteri.html">Kaupparekisteristä</a></p>  
  <p>tehty vain helpommin saataville tällä hakukoneella</p> 
  <p>Lisätietoa hakukenttien arvoista saat siirtämällä hiiren infopainikkeen päälle <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> </p>
  <p>Oletus haku (paina "Hae") näyttää 10 viimeksi Helsinkiin rekisteröityä yritystä</p>
    
</div>
{% endblock %}
