{% extends 'index.html' %} {% block head %} {% endblock %}
<!--body-->
{% block body %}

<container id="tableContainer">
  <h3 class="stats">Näytetään {{ results.amount }} osumaa</h3>
  <p class="stats">Paikkakunta: {{ results.locality }}</p>
  <p class="stats">Rekisteröity {{ results.from }} - {{ results.to }}</p>
  <p class="stats">Valittu toimialaluokitus {{ results.code }}</p>
  <a class="stats button" href="/">Uusi haku</a>
  <a class="stats button" href="https://www.stat.fi/fi/luokitukset/toimiala/">Toimialaluokitukset</a>
  <a href="{{ url_for('download', filename=results.filename) }}">Lataa excel</a>

  <table id="dataTable">
    <thead>
      <tr id="tableHead">

        <th class="tableHeadCell">Nimi</td>
        <th class="tableHeadCell">Rekisteröijä</td>
        <th class="tableHeadCell">Rekisteröity</td>
        <th class="tableHeadCell">Paikkakunta</td>
        <th class="tableHeadCell">Posti nro</td>
        <th class="tableHeadCell">Osoite</td>
        <th class="tableHeadCell">Toimialaluokitus</td>
        <th class="tableHeadCell">Toimiala</td>
        <th class="tableHeadCell">Puhelin nro</td>
        <th class="tableHeadCell">Mobiili nro</td>
        <th class="tableHeadCell">Verkkosivu</td>
        <th class="tableHeadCell">Yritysmuoto</td>
        <th class="tableHeadCell">Lisätietoja</td>
      </tr>
    </thead>
    <tbody>
      {% for key, value in data.items() %}
      <tr id="tableBody">
        <td class="tableBodyCell">{{ key }}</td>
        <td class="tableBodyCell">{{ value['founder'] }}</td>
        <td class="tableBodyCell">{{ value['registered'] }}</td>
        <td class="tableBodyCell">{{ value['locality'] }}</td>
        <td class="tableBodyCell">{{ value['post_code'] }}</td>
        <td class="tableBodyCell">{{ value['first_address'] }}</td>
        <td class="tableBodyCell">{{ value['business_line_code'] }}</td>
        <td class="tableBodyCell">{{ value['business_line'] }}</td>
        <td class="tableBodyCell">{{ value['phone_num'] }}</td>
        <td class="tableBodyCell">{{ value['mobile_num'] }}</td>
        <td class="tableBodyCell">{{ value['website'] }}</td>
        <td class="tableBodyCell">{{ value['company_form'] }}</td>
        <td class="tableBodyCell"> <a href={{value['details']}}>Link</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</container>
{% endblock %}